<a href="https://colab.research.google.com/github/Gui-mp8/MiniProjeto_Roof.Imoveis/blob/main/MiniProjetoDNC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
#Importando os dados
df = pd.read_csv(r'/content/kc_house_data.csv')

In [ ]:
#Checando os dados
df.shape
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
#Renomeando as colunas
df.rename(columns = {'date':'DataVenda', 
                     'price':'PrecoVenda', 
                     'bedrooms':'Nquartos', 
                     'bathrooms':'Nbanheiros',
                     'floors':'Nandares', 
                     'waterfront':'Beira-mar', 
                     'view':'Grau da Vista', 
                     'condition':'Condicao', 
                     'grade':'QualidadeConstrucao', 
                     'sqft_above':'Area acima do solo', 
                     'sqft_basement':'Area abaixo do solo', 
                     'yr_built':'AnoContrucao', 
                     'yr_renovated':'AnoRestauracao', 
                     'zipcode':'CEP'}, inplace = True)

#sqft_living = Tamanho da area habitavel em ft^2
#sqft_lot = Tamanho do terreno em ft^2
#sqft_living15 = Média da área habitavel dos 15 imoveis mais proximos em ft^2
#sqft_lot15 = Média da area do terreno dos 15 imoveis mais proximos em ft^2

df

,id,DataVenda,PrecoVenda,Nquartos,Nbanheiros,sqft_living,sqft_lot,Nandares,Beira-mar,Grau da Vista,...,QualidadeConstrucao,Area acima do solo,Area abaixo do solo,AnoContrucao,AnoRestauracao,CEP,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
#Checar os tipos de dados
df.dtypes

id                       int64
DataVenda               object
PrecoVenda             float64
Nquartos                 int64
Nbanheiros             float64
sqft_living              int64
sqft_lot                 int64
Nandares               float64
Beira-mar                int64
Grau da Vista            int64
Condicao                 int64
QualidadeConstrucao      int64
Area acima do solo       int64
Area abaixo do solo      int64
AnoContrucao             int64
AnoRestauracao           int64
CEP                      int64
lat                    float64
long                   float64
sqft_living15            int64
sqft_lot15               int64
dtype: object

In [ ]:
#Transformar ft^2 em m^2
#m^2 = ft^2/10764
def mquadrado(x):
  return x/10.763

df['sqft_living'] = df['sqft_living'].apply(mquadrado)
df['sqft_lot'] = df['sqft_lot'].apply(mquadrado)
df['sqft_living15'] = df['sqft_living15'].apply(mquadrado)
df['sqft_lot15'] = df['sqft_lot15'].apply(mquadrado)
df

,id,DataVenda,PrecoVenda,Nquartos,Nbanheiros,sqft_living,sqft_lot,Nandares,Beira-mar,Grau da Vista,...,QualidadeConstrucao,Area acima do solo,Area abaixo do solo,AnoContrucao,AnoRestauracao,CEP,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,109.634860,524.946576,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,124.500604,524.946576
1,6414100192,20141209T000000,538000.0,3,2.25,238.781009,672.860727,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,157.019418,709.746353
2,5631500400,20150225T000000,180000.0,2,1.00,71.541392,929.108984,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,252.717644,749.047663
3,2487200875,20141209T000000,604000.0,4,3.00,182.105361,464.554492,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,126.358822,464.554492
4,1954400510,20150218T000000,510000.0,3,2.00,156.090309,750.720059,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,167.239617,697.110471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,142.153675,105.082226,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,142.153675,140.202546
21609,6600060120,20150223T000000,400000.0,4,2.50,214.624175,540.091053,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,170.026944,668.958469
21610,1523300141,20140623T000000,402101.0,2,0.75,94.769116,125.429713,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,94.769116,186.472173
21611,291310100,20150116T000000,400000.0,3,2.50,148.657438,221.871225,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,131.004367,119.576326
21612,1523300157,20141015T000000,325000.0,2,0.75,94.769116,99.972127,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,94.769116,126.080089

In [ ]:
df.rename(columns = {'sqft_living':'AreaCasa', 'sqft_lot':'AreaTerreno', 'sqft_living15':' Media_AC15','sqft_lot15':'Media_AT15' }, inplace = True)
df

,id,DataVenda,PrecoVenda,Nquartos,Nbanheiros,AreaCasa,AreaTerreno,Nandares,Beira-mar,Grau da Vista,...,QualidadeConstrucao,Area acima do solo,Area abaixo do solo,AnoContrucao,AnoRestauracao,CEP,lat,long,Media_AC15,Media_AT15
0,7129300520,20141013T000000,221900.0,3,1.00,109.634860,524.946576,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,124.500604,524.946576
1,6414100192,20141209T000000,538000.0,3,2.25,238.781009,672.860727,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,157.019418,709.746353
2,5631500400,20150225T000000,180000.0,2,1.00,71.541392,929.108984,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,252.717644,749.047663
3,2487200875,20141209T000000,604000.0,4,3.00,182.105361,464.554492,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,126.358822,464.554492
4,1954400510,20150218T000000,510000.0,3,2.00,156.090309,750.720059,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,167.239617,697.110471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,142.153675,105.082226,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,142.153675,140.202546
21609,6600060120,20150223T000000,400000.0,4,2.50,214.624175,540.091053,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,170.026944,668.958469
21610,1523300141,20140623T000000,402101.0,2,0.75,94.769116,125.429713,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,94.769116,186.472173
21611,291310100,20150116T000000,400000.0,3,2.50,148.657438,221.871225,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,131.004367,119.576326
21612,1523300157,20141015T000000,325000.0,2,0.75,94.769116,99.972127,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,94.769116,126.080089

In [ ]:
#Checar se existe nulo
df.isna().sum()

In [ ]:
#Alinhando os dados de acordo com o maior preço
df.sort_values(['PrecoVenda'], ascending=False, inplace=True)
df

,id,DataVenda,PrecoVenda,Nquartos,Nbanheiros,AreaCasa,AreaTerreno,Nandares,Beira-mar,Grau da Vista,...,QualidadeConstrucao,Area acima do solo,Area abaixo do solo,AnoContrucao,AnoRestauracao,CEP,lat,long,Media_AC15,Media_AT15
7252,6762700020,20141013T000000,7700000.0,6,8.00,1119.576326,2564.340797,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,366.068940,817.615906
3914,9808700762,20140611T000000,7062500.0,5,4.50,932.825420,3467.899285,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,365.139831,2364.489455
9254,9208900037,20140919T000000,6885000.0,6,7.75,918.888786,2914.986528,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,421.815479,3970.082691
4411,2470100110,20140804T000000,5570000.0,5,5.75,854.780266,3258.292298,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,330.762798,2261.915823
1448,8907500070,20150413T000000,5350000.0,5,5.00,743.287188,2228.467899,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,427.390133,2020.812041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8274,3883800011,20141105T000000,82000.0,3,1.00,79.903373,968.689027,1.0,0,0,...,6,860,0,1954,0,98146,47.4987,-122.341,105.918424,1045.247608
16198,3028200080,20150324T000000,81000.0,2,1.00,67.824956,926.786212,1.0,0,0,...,5,730,0,1943,0,98168,47.4808,-122.315,79.903373,836.198086
465,8658300340,20140523T000000,80000.0,1,0.75,39.951686,469.200037,1.0,0,0,...,4,430,0,1912,0,98014,47.6499,-121.909,111.493078,696.831738
15293,40000362,20140506T000000,78000.0,2,1.00,72.470501,1518.535724,1.0,0,0,...,5,780,0,1942,0,98168,47.4739,-122.280,157.948527,965.065502
1149,3421079032,20150217T000000,75000.0,1,0.00,62.250302,4030.196042,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,107.776642,3984.205147

In [ ]:
#Convertendo os dados da coluna 'Data da Venda' em data
#limpando os dados da coluna

In [ ]:
#Criando um mapa de imovel 
data_mapa = df[['id', 'lat', 'long', 'PrecoVenda']]
mapa = px.scatter_mapbox(data_mapa, lat='lat', lon='long', 
                  hover_name='id',
                  hover_data=['PrecoVenda'],
                  color_discrete_sequence=['fuchisa'],
                  zoom=3,
                  height=300 )

mapa.update_layout(mapbox_style='open-street-map')
mapa.update_layout(height=600, margin={'r':0, 't':0, 'l':0, 'b':0})
mapa.show()

ValueError: ignored